.imagem {
	width: 360px;
	height: 360px;
    margin: 0 1070px;
}
body {
	background-image: linear-gradient(95deg, rgb(0, 0, 0), rgb(84, 11, 117));
    width: 100%;
}
@font-face {
	font-family: "fonte2";
    src: url("../../fontes/urusans-regular-webfont.woff2") format('woff2'),
         url("../../fontes/urusans-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
.idade{
	margin: 0 3px;
}
.cidade{
	margin: 0 -2px;
}
fieldset {
    font-family: "fonte2";
	font-size: 1.4em;
	color:rgb(255, 255, 255);
    text-align: center;	
}
.imagem3 {
    width: 200px;
	height: 200px;
}
input {
    font-family: "fonte2";
    font-size: 1em;
	border:2px solid #ffffff;
    color: #ffffff;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:"fonte2";
    font-weight:bold;
    font-size:1em;
    padding:6px 10px;
    text-decoration:none;
    background-color: black;
}
.img {
    margin: 0 1150px;
}
.li {
    font-size: 1em;
    color: white;
}
button {
    border:2px solid #ffffff;
    color: #ffffff;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:"fonte2";
    font-weight:bold;
    font-size:1em;
    padding:6px 10px;
    text-decoration:none;
    background-color: black;
}
